/*
Colour scheme:
Background: #FFFFFF
Navbar: #D4E4BC
Gradient for jumbotron: #CE8147 #96ACB7 #283845 #D4E4BC
Accents: #CE8147
Unused: #F6F4F3
*/

//*Gradients function (obtained from https://css-tricks.com/while-you-werent-looking-css-gradients-got-better/) */
@function get-stops($c-list) {
    $s-list: ();
    $n: length($c-list);
    $u: 100%/$n;

    @for $i from 1 to $n {
        $s-list: $s-list, nth($c-list, $i) $i*$u, nth($c-list, $i + 1) 0
    }

    @return $s-list
}



.jumbotron {
  &:nth-child(1){
    background: linear-gradient(-45deg,get-stops(#F6F4F3 #CE8147 #96ACB7 #283845 #D4E4BC));
  }
}
