/*
Colour scheme:
Background: #FFFFFF
Navbar: #D4E4BC
Gradient for jumbotron: #CE8147 #96ACB7 #283845 #D4E4BC
Accents: #CE8147
Navbar: #F6F4F3

Modifications made to Bootstrap:
******************************************************
Changed Primary from #007bff to #283845
Changed Primary hover from #0069d9 to #314454 (background)
Changed Primary hover from #0062cc to #2C3E4D (border)

Changed Secondary from #6c757d to #96ACB7
Changed Primary hover from #5a6268 to #7B8D96 (background)
Changed Primary hover from #545b62 to #6D7D85 (border)

Changed Success from #28a745 to #D4E4BC
Changed Success hover from #218838 to #BDCCA7 (background)
Changed Success hover from #1e7e34 to #AAB897 (border)

Changed Light from #f8f9fa to #F6F4F3
Changed Light hover from #e2e6ea to #E6F4F3 (background)
Changed Light hover from #dae0e5 to #EFF4F3 (border)
*/

body {
  background-color: #CE8147;
  width:100%;
}
.card {
  margin: 0.5em 1em 0.5em 1em;
}

.jumbotron-fluid {
  background: linear-gradient(-45deg, #F6F4F3 0 35%, #283845 0 50%,
       #96ACB7 0 65%, #CE8147 0 80%, #D4E4BC 0 95%, #F6F4F3 0);
  background-size: 100% 4em;
  background-repeat: no-repeat;
  background-color:#F6F4F3;
  color:#283845;
  padding-top:4em;
  margin-top:3.5em;
  padding-bottom: 2em;
  width:100%;
}

.sticky-top {
  padding: 4em 1em 4em 1em;
  background: linear-gradient(-45deg, #F6F4F3 0 35%, #283845 0 50%,
       #96ACB7 0 65%, #CE8147 0 80%, #D4E4BC 0 95%, #F6F4F3 0);
  background-size: 100% 3.5em;
  background-repeat: no-repeat;
  background-color:#F6F4F3;
}

.sticky-top .btn {
  width:8em;
  margin:0.25em 0 0.25em 0;
}

.footer-jumbo {
  margin-bottom: 0;
  padding-bottom: 0em;
}
.login {
  margin-bottom: 10em;
  background-color: #D4E4BC;
  padding: 1em;
  border-radius: 0.75em;
}
.featured {
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1.5em;
  width:100%;
  background-color: #D4E4BC;
  color: #283845;
  border-radius:0.5em;
}

.sortbar {
  margin-bottom: 2em;
  background-color: #D4E4BC;
  padding: 1em;
  border-radius: 0.75em;
}

.form-group {
  margin-right:0.5em;
}
